In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

# Convert categorical data to numeric and separate target feature for training data

In [3]:
train_df

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,RENT,28000.0,Not Verified,high_risk,n,...,100.0,16.7,0.0,0.0,50055.0,28192.0,18700.0,19055.0,N,N
12176,354944,354944,15000.0,0.1774,540.34,RENT,50000.0,Verified,high_risk,n,...,90.5,11.1,0.0,0.0,70324.0,57025.0,13300.0,54824.0,N,N
12177,354973,354973,3600.0,0.1862,131.28,RENT,60000.0,Not Verified,high_risk,n,...,100.0,0.0,0.0,0.0,83765.0,55156.0,14800.0,53065.0,N,N
12178,355002,355002,15000.0,0.0881,475.68,MORTGAGE,62000.0,Source Verified,high_risk,n,...,100.0,0.0,0.0,0.0,189930.0,23748.0,7000.0,32930.0,N,N
12179,355307,355307,15000.0,0.1774,540.34,RENT,54080.0,Not Verified,high_risk,n,...,90.0,100.0,0.0,0.0,48968.0,29786.0,2900.0,33968.0,N,N

In [4]:
### Day 2 Preprocessing exercise

##Create X_train values
X_values= train_df.drop(['Unnamed: 0', 'index', 'loan_status'], axis=1)

##use get_dummies to turn categorical data into #s
X_dummies_train= pd.get_dummies(X_values)
X_dummies_train.columns

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
       'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'pymnt_plan_n', 'initial_list_status_f', 'initial_list_status_w',
       'application_type_Individual', 'application_type_Joint App',
       'hardship_flag_N', 'hardship_flag_Y', 'debt_settlement_flag_N',
       'debt_settlement_flag_Y'],
      dtype='object')

In [5]:
##Ensure the data types are not objects
X_dummies_train.select_dtypes(include =['object'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[12180 rows x 0 columns]

In [6]:
## Y Value is loan_status

y_train= train_df['loan_status']
y_train

0         low_risk
1         low_risk
2         low_risk
3         low_risk
4         low_risk
           ...
12175    high_risk
12176    high_risk
12177    high_risk
12178    high_risk
12179    high_risk
Name: loan_status, Length: 12180, dtype: object

# Convert categorical data to numeric and separate target feature for testing data

In [7]:
### GEt the X Values from the testing data set

X_test = test_df.drop(columns = ['Unnamed: 0' ,'index' ,'loan_status'])
X_dummies_test=pd.get_dummies(X_test)
X_dummies_test

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,0.0,9471.0,...,0,0,1,0,1,1,0,1,0,1
1,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,0.0,1280.0,...,0,0,1,0,1,1,0,1,0,1
2,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,0.0,4757.0,...,0,0,1,0,1,1,0,1,0,1
3,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,0.0,12731.0,...,0,0,1,0,1,1,0,1,0,1
4,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,0.0,10413.0,...,0,0,1,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,1,0,1,1,0,1,0,1,0,1
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,0,1,0,1,1,0,1,0,1
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,0,1,1,1,0,1,0,1,0,1
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,1,0,1,0,1,1,0,1,0,1
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,1,0,1,1,0,1,0,1,0,1

In [8]:
y_test= test_df['loan_status']
y_test

0        low_risk
1        low_risk
2        low_risk
3        low_risk
4        low_risk
          ...
4697    high_risk
4698    high_risk
4699    high_risk
4700    high_risk
4701    high_risk
Name: loan_status, Length: 4702, dtype: object

# add missing dummy variables to testing set

In [9]:
##Compare data between X test and X dummy

In [10]:
X_dummies_train.nunique()

loan_amnt                      834
int_rate                        52
installment                   4351
annual_inc                    1629
dti                           3759
                              ...
application_type_Joint App       2
hardship_flag_N                  2
hardship_flag_Y                  2
debt_settlement_flag_N           2
debt_settlement_flag_Y           2
Length: 92, dtype: int64

In [11]:
X_dummies_test.nunique()

loan_amnt                       581
int_rate                         21
installment                    2196
annual_inc                      803
dti                            2572
                               ...
application_type_Individual       2
application_type_Joint App        2
hardship_flag_N                   2
hardship_flag_Y                   2
debt_settlement_flag_N            1
Length: 91, dtype: int64

In [12]:
##Ensure the data is correct and check for discrepencies,X_dummies is 91 , X Test has 92 
for column in X_dummies_train:
    if column not in X_dummies_test:
        X_test[column] = 0
        print(column)

debt_settlement_flag_Y

In [13]:
## Give Value for debt_settlement_flag_Y
X_dummies_test['debt_settlement_flag_Y']=0

X_dummies_test.nunique()

loan_amnt                      581
int_rate                        21
installment                   2196
annual_inc                     803
dti                           2572
                              ...
application_type_Joint App       2
hardship_flag_N                  2
hardship_flag_Y                  2
debt_settlement_flag_N           1
debt_settlement_flag_Y           1
Length: 92, dtype: int64

In [14]:
##PREDICTION: Linear Regression will probably perform better as it tends to be better correlated with data presented. 
##Data is presented

# Train the Logistic Regression model on the unscaled data and print the model score

In [15]:
classifier = LogisticRegression()
classifier

LogisticRegression()

In [16]:
### Run X train and y train

In [17]:
clf = LogisticRegression(solver='liblinear', random_state=1)
clf.fit(X_dummies_train, y_train)

LogisticRegression(random_state=1, solver='liblinear')

In [18]:
print(f"Training Data Score: {clf.score(X_dummies_train, y_train)}")

Training Data Score: 0.7088669950738916

In [19]:
print(f"Testing Data Score: {clf.score(X_dummies_test, y_test)}")

Testing Data Score: 0.5733730327520205

# Train a Random Forest Classifier model and print the model score

In [20]:
### Day 3 Activity 5

## Initialize Random Forest 
rcf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_dummies_train, y_train)

In [21]:
print(f' Random Forest Training Score: {rcf.score(X_dummies_train, y_train)}')

 Random Forest Training Score: 1.0

In [ ]:
print(f' Random Forest Testing Score: {rcf.score(X_dummies_test, y_test)}')

## Scaling predicitions

In [ ]:
## Liner Regression fluctuates more.  Linear regression is better with more precise data
## Random Forest is not scale sensitive, it is harder to predict.  
## In lieu of this, Linear regression will probably perform better

# Scale the data

In [ ]:
### PRe-processing data 
## Scale Test and Train values
sc = StandardScaler().fit(X_dummies_train)
X_train_scaled=sc.transform(X_dummies_train)
X_train_scaled

In [ ]:
X_test_scaled=sc.transform(X_dummies_test)
X_test_scaled

# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
clf.fit(X_train_scaled, y_train)

In [ ]:
print(f' Scaled Logistic Regression Score: {clf.score(X_train_scaled, y_train)}')

In [ ]:
print(f' Scaled Logistic Regression  Score: {clf.score(X_test_scaled, y_test)}')

# Train a Random Forest Classifier model on the scaled data and print the model score

In [ ]:
rcf1 = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)

In [ ]:
print(f' Scaled Random Forest Train Score: {rcf1.score(X_train_scaled, y_train)}')

In [ ]:
print(f' Scaled Random Forest Test Score: {rcf1.score(X_test_scaled, y_test)}')

## How do the model scores compare to each other, and to the previous results on unscaled data? How does this compare to your prediction? Write down your results and thoughts.

In [ ]:
## Random forest stayed relatively similar between scaled and unscaled.  The test set proved to be inefficient
## and Random Forest seems to memorize the initial data set, but proves to be ineffective to see changes from 
## unscaled to scaled.

## Logistic Regression is permeable and scaled sensitive.  It is correlated on whether the data is scaled or not.  
## After Logistic Regression was scaled it began to perform better.  

## My prediciton was relatively off as I thought Logistic Regression would perform better than Random Forest.  Even
## though both models proved to not be close to accurate.